<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.somasoma.speakworld">

    <application
        android:name=".core.SpeakWorldApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeakWorld">
        <activity
            android:name="com.somasoma.speakworld.domain.setting.change_language.SettingChangeLanguageActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.somasoma.speakworld.domain.setting.change_name.SettingChangeNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.somasoma.speakworld.domain.setting.SettingActivity" />
        <activity
            android:name="com.somasoma.speakworld.domain.auth.sign_up_set_language.SignUpSetLanguageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.somasoma.speakworld.domain.auth.sign_up_set_name.SignUpSetNameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.somasoma.speakworld.domain.home.HomeActivity" />
        <activity android:name="com.somasoma.speakworld.domain.auth.sign_in_and_sign_up.SignInAndSignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>